<ul>
  <% email_addresses.each do |email| %>
    <li> <%= email.address %> <%= link_to 'edit email address', edit_email_address_path(email) %></li>
    <li> <%= email.address %> <%= link_to 'delete email address', email_address_path(email), method: :delete, data: { confirm: "Are you sure?"} %> </li>
    <% end %>
</ul>
