<h1><%= "New Email Address for #{@email_address.contact}"%></h1>

<%= render 'form', email_address: @email_address %>

<ul class="actions">
  <li><%= link_to 'Show', @email_address %></li>
  <li><%= link_to 'Back', email_addresses_path %></li>
</ul>
